<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.demo.dao.InterFaceDao">
    <insert id="insertInterFace" parameterType="com.myproject.demo.entity.InterFace">
        insert into interface
        values (
                #{saveInterFace.interTitle},
                #{saveInterFace.interContent},
                #{saveInterFace.interAddress},
                #{saveInterFace.interData}
        )
    </insert>
</mapper>