<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.demo.dao.TodayThingsDao">
    <select id="getAllSchedule" resultType="com.myproject.demo.entity.Schedule">
        select * from  Schedule
    </select>

    <select id="queryScheduleByStatus" resultType="com.myproject.demo.entity.Schedule">
        select * from  Schedule
        <where>
            <if test="null != status and '' != status">
            status =#{status}
            </if>
        </where>
    </select>
</mapper>