<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>work</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../layui/css/work.css">
</head>
<style>
    .myicon{
        font-size: 1.2em;
        font-weight: lighter;
        padding-right: 10px;
    }

    .layui-nav-tree .layui-nav-item a {
        position: relative;
        height: 65px;
        line-height: 65px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .layui-layout-left .layui-nav-item a{
        width: 40px;
    }
    .layui-layout-left .layui-nav-item a i{
        padding-left: 10px;
    }
</style>
<body>
<div class="my-work">
    <blockquote class="layui-elem-quote" style="margin-top: 20px">
        <h2>今日工作</h2>
    </blockquote>
</div>
<script type="text/javascript" src="../layui/layui.js"></script>
</body>
</html>